<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors existingResponse="Replace" errorMode="Custom">
            <remove statusCode="404" subStatusCode="-1"/>
            <error statusCode="404" prefixLanguageFilePath="" path="404.html" responseMode="File"/>
        </httpErrors>
        <defaultDocument>
            <files>
                <clear/>
                <add value="index.xml" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <clear/>
                <rule name="Redirect to non WWW" stopProcessing="true"> 
                    <match url=".*" /> 
                        <conditions> 
                            <add input="{HTTP_HOST}" pattern="^www.msdevshow.com$" /> 
                        </conditions> 
                    <action type="Redirect" url="http://msdevshow.com/{R:0}" redirectType="Permanent" /> 
                </rule>
            </rules>
        </rewrite>
        <staticContent>
	      <mimeMap fileExtension=".webtile" mimeType="application/octet-stream" />
          <remove fileExtension=".woff"/>
          <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
          <remove fileExtension=".woff2"/>
          <mimeMap fileExtension="woff2" mimeType="application/x-font-woff"/>
          <remove fileExtension=".json"/>
          <mimeMap fileExtension="json" mimeType="application/json"/>
	    </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="X-Frame-Options" value="SAMEORIGIN" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
